<h1>{{title}}</h1>

<form method="post">
    <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" class="form-control" placeholder="First name (Christian)" name="first_name"
            required="true" value="{{#if author}} {{author.first_name}} {{/if}}">
        <label for="family_name">Family Name:</label>
        <input type="text" id="family_name" class="form-control" placeholder="Family name (Surname)" name="family_name"
            required="true" value="{{#if author}} {{author.family_name}} {{/if}}">
    </div>
    <div class="form-group">
        <label for="date_of_birth">Date of birth:</label>
        <input type="date" id="date_of_birth" class="form-control" name="date_of_birth"
            value="{{#if author}} {{author.date_of_birth}} {{/if}}">
        <label for="date_of_death">Date of death:</label>
        <input type="date" id="date_of_death" class="form-control" name="date_of_death"
            value="{{#if author}} {{author.date_of_death}} {{/if}}">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>

    {{#if errors}}
    <ul>
        {{#each errors}}
        <li>{{this.msg}}</li>
        {{/each}}
    </ul>
    {{/if}}
</form>