<h1>{{title}}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Title:</label>
        <input
            type="text"
            id="title"
            class="form-control"
            placeholder="Name of book"
            name="title"
            required="true"
            value="{{#if book}} {{book.title}} {{/if}}"
        >
    </div>
    <div class="form-group">
        <label for="author">Author:</label>
        <select
            name="author"
            id="author"
            class="form-control"
            required="true"
        >
            <option value="">--Please select an author--</option>
            {{#each authors}}
                {{#if book}}

                    {{#eq this._id book.author._id}}
                        <option
                            value="{{this._id}}"
                            selected
                        >
                            {{this.name}}
                        </option>
                {{else}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/eq}}

                {{else}}
                    <option value="{{this._id}}">{{this.name}}</option>
                {{/if}}
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="summary">Summary:</label>
        <textarea
            name="summary"
            id="summary"
            class="form-control"
            required="true"
            placeholder="Summary"
        >
        {{#if book}}
            {{book.summary}}
        {{/if}}
        </textarea>
    </div>
    <div class="form-group">
        <label for="isbn">ISBN: </label>
        <input
            type="text"
            id="isbn"
            class="form-control"
            placeholder="ISBN13"
            name="isbn"
            value="{{#if book}} {{book.isbn}} {{/if}}"
        >
    </div>
    <div class="form-group">
        <label>Genre:</label>
        <div>
            {{#each genres}}
                <div style="display: inline; padding-right: 10px;">
                    {{#if this.checked}}
                        <input
                            type="checkbox"
                            class="checkbox-input"
                            name="genre"
                            id="{{this._id}}"
                            value="{{this._id}}"
                            checked
                        >
                    {{else}}
                        <input
                            type="checkbox"
                            class="checkbox-input"
                            name="genre"
                            id="{{this._id}}"
                            value="{{this._id}}"
                        >
                    {{/if}}
                    <label for="{{this._id}}">&nbsp;{{this.name}}</label>
                </div>
            {{/each}}
        </div>
    </div>
    <button
        class="btn btn-primary"
        type="submit"
    >Submit</button>

    {{#if errors}}
        <ul>
            {{#each errors}}
                <li>{{this.msg}}</li>
            {{/each}}
        </ul>
    {{/if}}
</form>